{{- if (.Param "ShowBreadCrumbs") }}
<nav class="breadcrumbs" aria-label="Breadcrumb">
  {{- range $index, $ancestor := .Ancestors.Reverse }}
    {{- if gt $index 0 }}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
    {{- end }}
    <a href="{{ $ancestor.RelPermalink }}">{{ if eq $index 0 }}Home{{ else }}{{ $ancestor.Title }}{{ end }}</a>
  {{- end }}
</nav>
{{- end }}
